<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <!-- load parameters -->
  <group ns="/vehicle_info">
    <rosparam file="$(find lexus_description)/config/vehicle_info.yaml" command="load"/>

    <group ns="mirror">
      <rosparam file="$(find lexus_description)/config/mirror.yaml" command="load"/>
    </group>
  </group>


</launch>
